<h1>New GUN</h1>
<form action="/guns" method="post" enctype="multipart/form-data">
    <%- include('./_form_fields.ejs')%>
    <a href="/guns">Cancel</a>
    <button type="submit">Create</button>
</form>